.content-reset-password {
	text-align:center;
	width:50%;
	margin-left:25%;
}

@media (max-width: 900px) {
	.reset-password {
		margin-top:15px;
	}
}

@media (max-width: 599px) {
	.reset-password {
		margin-top:15px;
	}
	
	.content-reset-password {
		text-align:center;
		width:100%;
		margin-left:0%;
	}
}