.match-direct .table_bet
{
	width: 100%;
	text-align: center;	
	border-top: solid 2px;
	margin-top: 10px;
}

.match-direct .table_bet .prono
{
	width: 60px;
}

.match-direct .odd
{
	width: 50px;
	height: 35px;
}

.match-direct .credits input
{
	width: 90%;
}

.match-direct .information table.table-info
{
	margin-left: auto; 
	margin-right: auto; 
	width: 100%;
}

.match-direct .information table.table-info caption
{
	margin-top: 5px;
}

.match-direct .information table.table-info .login
{
	float: right; 
	width: 90%; 
	font-size: 20px; 
	margin-top:5px;
}

.match-direct .information table.table-info .bet
{
	width: 30%;
}

.match-direct .information table.table-info .bet input
{
	margin-bottom: 10px;
	margin-right: 5px;
}

.match-direct .information table.table-info .prono-title
{
	float: right; 
	width: 90%
}

.match-direct .information table.table-info .prono-info
{
	width: 30%
}

.match-direct .result-img
{
	width:80px !important; 
	height:80px;
}

@media (max-width: 979px)
{
	.match-direct #main-content
	{
		margin-top: 20px;
	}
}

@media (max-width: 767px)
{
	.match-direct .classement
	{
		display: none;
	}
}

@media (max-width: 479px)
{
	.match-direct .result-img
	{
		width:50px !important; 
		height:50px;
	}
	
	.match-direct .result-team
	{
		font-size: 16px;
	}
	
	.match-direct .result-score
	{
		font-size: 25px;
	}
	
	.match-direct .result-title
	{
		font-size: 25px;
	}
}
