<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Barby Bet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- Servlet for game score parsing -->
  <servlet>
    <servlet-name>Sax</servlet-name>
    <servlet-class>com.barbyBet.servlets.DirectResultServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>Sax</servlet-name>
	<url-pattern>/sax</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet for match list -->
  <servlet>
    <servlet-name>Match</servlet-name>
    <servlet-class>com.barbyBet.servlets.MatchServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>Match</servlet-name>
	<url-pattern>/match</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet for user registration -->
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.barbyBet.servlets.RegisterServlet</servlet-class>
  </servlet>
  
   <servlet-mapping>
	<servlet-name>Register</servlet-name>
	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet for user connection -->
  <servlet>
    <servlet-name>Connect</servlet-name>
    <servlet-class>com.barbyBet.servlets.ConnectServlet</servlet-class>
  </servlet>
  
   <servlet-mapping>
	<servlet-name>Connect</servlet-name>
	<url-pattern>/connect</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet for group list -->
  <servlet>
    <servlet-name>Group</servlet-name>
    <servlet-class>com.barbyBet.servlets.GroupServlet</servlet-class>
  </servlet>
  
   <servlet-mapping>
	<servlet-name>Group</servlet-name>
	<url-pattern>/group</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
	<servlet-name>Group</servlet-name>
	<url-pattern>/newGroup</url-pattern>
  </servlet-mapping>

</web-app>